*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	--scrollbarBgColor: rgba(0, 0, 0, .05);
	--scrollbarThumbColor: rgba(0, 0, 0, .15);
	--scrollbarThumbColorSecond: rgba(135, 206, 235, .7);
	--scrollbarWidth: 14px;
	--scrollbarBorder: 0 solid var(--scrollbarBgColor);
	--scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}

.container {
	overflow: auto;
	width: 100%;
	scrollbar-width: var(--scrollbarWidth);
	scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
}

.container::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}

.container::-webkit-scrollbar-track {
	background: var(--scrollbarBgColor);
	border-radius: var(--scrollbarBorderRadius);
}

.container::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarThumbColor);
	border-radius: var(--scrollbarBorderRadius);
	border: var(--scrollbarBorder);
	background-image: linear-gradient(-90deg,
			var(--scrollbarThumbColor) 0%,
			var(--scrollbarThumbColorSecond) 95%);
}

a {
	text-decoration: none;
	outline: none;
}

a:focus {
	outline: none;
}


html {
	overflow-x: hidden;
	color: #000;
}

body {
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cfe1eb;
	font-family: "Ubuntu", sans-serif;
	cursor: default;
}

h2 {
	background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header {
	margin-bottom: 50px;
	padding: 0 10px;
	width: 100%;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(180deg, rgb(255 255 255 / 30%), transparent);

	&-partners {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	img {
		max-height: 60px;
		margin: 10px;
	}

	&-tabs {
		display: flex;
		justify-content: space-between;

		&__title {
			padding: 0 30px;
			background: -webkit-linear-gradient(red, #ffd1d1);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 14px;
			font-weight: bold;
		}
	}
}


.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&-title {
		display: block;
		text-align: center;
		font-weight: 500;
		font-size: 60px;
		line-height: 89px;
	}

	.titles {
		background: -webkit-linear-gradient(red, #ffd1d1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 5px;
	}

	&-table {
		border-radius: 20px;
		margin-bottom: 50px;

		img {
			height: 30px;
			margin: 2px;
			cursor: help;
		}

		&__items {
			margin: 0 -10px;
			border: 3px solid skyblue;
			font-size: 14px;
			border-radius: inherit;
			background: linear-gradient(70deg, rgb(255 255 255 / 40%), transparent);
			font-weight: bold;
		}

		&__row {
			min-height: 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5px;
			border-bottom: 2px solid skyblue;
			border-image: linear-gradient(to left top, #0073ff, skyblue, #00a6ff);
			border-image-slice: 1;

			&:last-child {
				border: none;
			}

			&_right {
				margin: 1px;
			}

			&_left {
				margin: 5px;
				min-width: 300px;
				border: none;

				&.rus::before {
					content: url(../img/flags/rus.png);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}

				&.bel::before {
					content: url(../img/flags/bel.png);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}

				&.kz::before {
					content: url(../img/flags/kz.png);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}

				&.ua::before {
					content: url(../img/flags/ua.png);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}

				&.pol::before {
					content: url(../img/flags/pol.png);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}

				&.vietnam::before {
					content: url(../img/flags/vietnam.svg);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}

				&.mexico::before {
					content: url(../img/flags/mexico.png);
					margin-right: inherit;
					height: 14px;
					width: 19px;
				}
			}
		}
	}
}


.top1 {
	background: -webkit-linear-gradient(#ae8419, #ffce6b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px !important;
}

.top2 {
	background: -webkit-linear-gradient(#bababa, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px !important;
}

.top3 {
	background: -webkit-linear-gradient(#9c5221, #fcb48c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px !important;
}

.best-regular {
	background: -webkit-linear-gradient(rgb(137 7 224), rgb(221 182 248));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px !important;
}

.clap {
	height: 25px !important;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	bottom: 0px;
	background: #092350;
	color: #fff;
	padding: 5px 0;
	margin-top: 100px;

	& a {
		text-decoration: none;
		color: #fff;
	}
}


.copyright {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

/* Responsive */
// @media (max-width: 760px) {}